body {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

p {
	font-family: 'Lato', sans-serif;
}

/* _____________________________ */
/* MAIN PAGE */
/* NAVIGATION BAR */
.junkyard-logo {
	margin: 20px 10px 10px 20px;
}

ul {
	background-color: #000000;
	border-bottom: 2px solid #36fbda;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	text-align: center;
}

li {
	float: left;
}

li a {
	display: block;
	padding: 8px 50px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}

li a:hover {
	background-color: #36fbda;
	opacity: 0.9;
	font-weight: bold;
}

/* _____________________________ */
/* MAIN PAGE COVER */
.cover {
	display: flex;
	flex-wrap: wrap;
	background-color:#000000;
	margin: 0px;
	padding: 0px;
	justify-content: space-between;
}

.back {
	width: 30%;
	color:#fff;
	height: 100vh;
}

.cover1 {
	background-image: url(images/ellesse.jpg);
	background-size: cover;
}

.cover2 {
	color: #aba0e1;
	text-align: center;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
}

.cover2 h1 {
	font-size: 50px;
	margin-top: 200px;
}

.cover2 p {
	font-size: 35px;
	text-align: center;
	justify-content: center;
	font-style: italic;
}

.cover3 {
	background-image: url(images/ellesse1.jpg);
	background-size: cover;
}

/* _____________________________ */
/* NEWSFEED */
.limitednews {
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 10px;
}

hr {
	width: 300px;
	margin-bottom: 15px;
	border: 1px solid #36fbda;
}

.news {
	text-transform: uppercase;
}

.flex-container {
	display: flex;
	background-color: #fff;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.flex-container a {
	text-decoration: none;
	color: black;
}

.news {
	background-color: #ffc0cb;
	width: 200px;
	height: 200px;
	margin: 10px;
	padding: 20px;
	font-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 10px;
}

figcaption {
	font-size: 10px;
	position: bottom;
}

figcaption h2 {
	text-transform: uppercase;
	margin: 5px;
}

figcaption p {
	margin: 5px;
}

.shoes1 {
	background-image: url(images/s1.jpg);
	background-size: cover;
}

.shoes2 {
	background-image: url(images/s2.jpg);
	background-size: cover;
}

.shoes3 {
	background-image: url(images/s3.jpg);
	background-size: cover;
}

.shoes4 {
	background-image: url(images/s4.jpg);
	background-size: cover;
}

.shoes5 {
	background-image: url(images/s5.jpg);
	background-size: cover;
}

.shoes6 {
	background-image: url(images/s6.jpg);
	background-size: cover;
}

.shoes7 {
	background-image: url(images/s7.jpg);
	background-size: cover;
}

.shoes8 {
	background-image: url(images/s8.jpg);
	background-size: cover;
}

/* NEWS FEED COLLABS */
.collab-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
}

.collabs {
	background-color: pink;
	width: 200px;
	height: 400px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	margin: 10px;
	margin-top: 0px;
	padding: 20px;
	border-radius: 10px;
}

.newcollabs {
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 10px;
}

.newcollabs hr {
	width: 400px;
	margin-bottom: 15px;
	border: 1px solid #36fbda;
}

.collab-container h3 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.collab-container p {
	font-size: 14px;
	margin-top: 1px;
}

/* more news button */
.btn {
	text-align: center;
}

/* .btn a:hover {
	border: none;
} */

.collabs a {
	text-decoration: none;
	color: #000000;
}
button {
	background-color: #000000;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	padding: 15px;
	margin: 10px;
	width: 400px;
	border-radius: 5px;
	/* transitions */
	/* -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s; */
}

button:hover {
	background-color: #36fbda;
	opacity: 0.9;
}


/* _____________________________ */
/* TOP BRANDS */
.brands {
	text-align: center;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.brand {
	width: 70px;
	margin: 20px;
	margin-top: -10px;
}

/* _____________________________ */
/* FOOTER */
footer {
	font-size: 14px;
	color: #ffffff;
}

footer a {
	color: #ffffff;
}

.mainbox {
	display: flex;
	background-color: #000000;
	flex-flow: row wrap;
	grid-gap: 10px;
	justify-content: space-between;
}

.foot {
	background-color: #f0c0ff;
	margin: 10px;
	padding: 10px;
	width: 30%;
	height: 150px;
}

.foot h2 {
	font-size: 20px;
	line-height: 1;
	padding: 0px;
	margin: 0px;
}
.foot p {
	font-size: 13px;
	line-height: 1;
}

.left {
	background-color: #000000;
}

.left h2 {
	margin-bottom: 20px;
}

.icons {
	width: 50px;
	margin: 10px;
	margin: 10px;
	padding: 10px;
	letter-spacing: 15px;
}

.middle {
	background-color: #000000;
}
.bottom {
	background-color: #000000;
	color: #ffffffa9;
	width: 100%;
	height: 10px;
	text-align: center;
}

.right {
	background-color: #000000;
}

.googlemaps {
	float: right;
	width: 300px;
	height: 200px;
	border: none;
}

/* _____________________________ */
/* GALLERY GRID */
.grid-cont {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto;
	margin: 10px;
	padding: 10px;
}

.grid-item {
	border: 1px solid black;
}

/* _____________________________ */
/* CONTACT FORM */
.form {
	border-radius: 2px;
	padding: 20px;
	margin: 20px;
}

.form h1 {
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 1px;
}
.form p {
	text-transform: uppercase;
	margin-bottom: 1px;
}

input[type=text] {
	width: 50%;
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 2px;
	border: 2px solid #000000;
	outline: none;
}

input[type=text]:focus {
	border: 2px solid #36fbda;
}

textarea {
	outline: none;
	border: 2px solid black;
}

textarea:focus {
	border: 2px solid #36fbda;
}

input[type=submit] {
	background-color: #000000;
	border: none;
	color: #fff;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	outline: none;
}

input[type=submit]:hover {
	background-color: #36fbda;
}

/* _____________________________ */
/* ABOUT US */